{% extends "base.html" %}

{%block head_title %}
{{ instance.title}}|{{block.super}}
{% endblock head_title %}

{% block content %}

<body>
<div class="row">

<div class="w3-container col-xs-offset-2 " >
  <h2></h2>

  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey">
      <h2 style="text-align:center">Hello {{user.username}} !!</h2>
    </header>
    <div class="w3-container">
      <hr><center>
      <img src="https://s3.amazonaws.com/homeautomation-images/hamza.png" alt="Avatar" class="w3-center" style="width:25%; height:auto"><br /><br />
          <p>Name:  <b>{{user.username}}</b></p>
		  <p>Devices owned: 

			{% for item in user.items.all %}
			  <ul style="padding:0;margin:0;display: inline-block;text-align:left;"><li style="text-align:left;"><b>{{item.title}}</b></li></ul>
			{% endfor %}
		
		  </p><br></center>
    </div>
  </div>
</div>
</div>
</body>
</html>



{% endblock %}
